
  // Exported field_instance: '{{ entity_type }}-{{ bundle }}-{{ field_name }}'.
  $field_instances['{{ entity_type }}-{{ bundle }}-{{ field_name }}'] = array(
    'bundle' => '{{ bundle }}',
    'default_value' => NULL,
    'deleted' => 0,
    'description' => '{{ description | raw }}',
    'display' => array(
      'default' => array(
        'label' => 'above',
        'module' => 'link',
        'settings' => array(),
        'type' => 'link_default',
        'weight' => 1,
      ),
      'paragraphs_editor_preview' => array(
        'label' => 'above',
        'settings' => array(),
        'type' => 'hidden',
        'weight' => 0,
      ),
    ),
    'entity_type' => '{{ entity_type }}',
    'field_name' => '{{ field_name }}',
    'label' => '{{ label }}',
    'required' => {{ required }},
    'settings' => array(
      'absolute_url' => 1,
      'attributes' => array(
        'class' => '',
        'configurable_class' => 0,
        'configurable_title' => 0,
        'rel' => '',
        'target' => 'default',
        'title' => '',
      ),
      'display' => array(
        'url_cutoff' => 80,
      ),
      'enable_tokens' => 1,
      'rel_remove' => 'default',
      'title' => 'optional',
      'title_label_use_field_label' => 0,
      'title_maxlength' => 128,
      'title_value' => '',
      'url' => 0,
      'user_register_form' => FALSE,
      'validate_url' => 1,
    ),
    'widget' => array(
      'active' => 0,
      'module' => 'link',
      'settings' => array(),
      'type' => 'link_field',
      'weight' => {{ weight }},
    ),
  );
